KAGGLE_USERNAME=
KAGGLE_KEY=
KAGGLE_DATASET_SLUG=replace-with-kaggle-owner/from-fuel-to-electric-the-ev-transition-dataset
MODEL_DIR=./models
FRONTEND_ORIGIN=http://localhost:5173,https://dev.jakamarinsek.com
VITE_API_URL=http://localhost:3000
VITE_BASE_PATH=/ev-assist/
